# Welcome to the NOIRLab Registry

Now that your email has been verified your petition 
is complete and you may begin to access NOIRLab 
resources.

This is a placeholder to demonstrate the Confirmation
Redirect URL functionality for COmanage Registry enrollment
flow configuration.
